body {
    /* background-color: #F6F6F6; */
    background-color: #F0F0F0;
    font-family: "Rubik", sans-serif;
}

.icons {
    font-size: large;
}

@media only screen and (max-width: 768px) {}


/* .custom-file-input {
    display: inline-block;
    position: relative;
}

.custom-file-input input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
} */


/* .custom-file-input ImageOutlinedIcon {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
} */

  